<html>
<head>
    <title>DND hjemmeside med søgefunktion til classes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='dndlogo.webp') }}" class="App-logo" alt="logo" />
            <h1>søg efter en class eller ability</h1>
            <form method="post" action="">
              <input type="text" name="search_term" placeholder="Search..." required>
              <button type="submit">Search</button>
            </form>
            {% if members.members %}
              <h2>DND Classes:</h2>
              <h3>search for either main class ability or class name</h3>
              <ul>
                 {% for member in members.members %}
                  <li>
                    <strong>{{ member.class_name }}</strong> ({{ member.class_ability }})
                    {% if members.show_description %}
                      <details>
                        <summary>Show Description</summary>
                        <p>{{ member.class_description }}</p>
                      </details>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if not members.members and request.method == "POST" %}
              <p>No results found.</p>
            {% endif %}
        </header>
    </div>
</body>
</html>